.home-content{
    height: 70vh;
    width: 100vw;
    display: flex;
    margin-top: 40px;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.text-home{
    margin: 0px 100px;
    text-align: center;
    font-size: 36px;
    opacity: 80%;
}
.title-home{
    font-size: 48px;
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .home-content{
        font-size: 5px;
        justify-content: center;
    }
    .title-home{
        font-size: 40px;
        text-align: center;
        margin-bottom: 20;
    }
    .text-home{
        margin: 0px 40px;
        text-align: center;
        font-size: 25px;
        opacity: 80%;
    }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}