@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@600&family=Montserrat:ital,wght@0,100;0,200;0,500;1,100&display=swap');

.bar-content{
    text-align: center;
    margin-top: 10px;
    height: 70px;
    background-color: #FFFFFF;
}
.title-routes{
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 20px;
}
.link-nav-active{
    font-size: 15px;
    margin: 0px 30px;
    text-decoration: underline;
    color: rgb(92, 91, 91);
}
.link-nav{
    font-weight: bold;
    font-family: 'Comfortaa', cursive;
    font-size: 15px;
    margin: 0px 30px;
    text-decoration: none;
    color: rgb(92, 91, 91);
}
.line{
    border-style: solid;
    border-width: 2px;
    opacity: 20%;
    margin-top: 80px;
    width: 95vw;
    border-bottom: 1px solid rgb(175, 175, 175);
    position: absolute;
}
.logo{
    margin-bottom: 30px;
    margin-right: -25px;
    display: inline;
    width: 62px;
    height: 60px;
}
.center-logo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.logo-text{
    font-family: 'Comfortaa', cursive;
    font-size: 28px;
    margin: 0px 30px;
    text-decoration: none;
    color: rgb(56, 56, 56);
}

.burguer-buttom {
    width: 30px;
    height: 5px;
    background-color: #FF9017;
    margin: 4px 0;
}
.container-burguer{
    cursor: pointer;
    position: absolute;
    left: 30px;
    top: 20px;
}
.logo-responsive{
    width: 65px;
    height: 65px;
}   

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

    .title-routes{
        display: none;
    }
    .responsive-nav{
        z-index: 1;
        align-items: center;
        text-align: center;
    }
    .responsive-nav div{
        margin-bottom: 5px;
        width: auto;
        height: 50px;
        z-index: 1;
    }
    .line{
        width: 100vw;
        margin: auto;
    }
    .logo-responsive{
        display: block;
    }
    .container-logo-responsive{
        width: 90vw;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .routes-responsive{
        padding: -50px -5px;
    }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .logo-responsive{
        display: none;
    }
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .container-burguer{
        display: none;
    }
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .container-burguer{
        display: none;
    }
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .container-burguer{
        display: none;
    }
    .logo-responsive{
        display: none;
    }
}