.bar-content{
    margin-top: 10px;
    height: 70px;
    background-color: #FFFFFF;
}
.title-routes{
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.link-nav-active{
    font-size: 15px;
    margin: 0px 30px;
    text-decoration: underline;
    color: rgb(92, 91, 91);
}
.link-nav{
    font-size: 15px;
    margin: 0px 30px;
    text-decoration: none;
    color: rgb(92, 91, 91);
}
.line{
    margin-top: 50px;
    width: 90vw;
    border-bottom: 1px solid rgb(102, 101, 101);
    position: absolute;
}
.logo{
    margin-bottom: 20px;
    margin-right: -40px;
    display: inline;
    width: 80px;
    height: 80px;
}
.center-logo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.logo-text{
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    margin: 0px 30px;
    text-decoration: none;
    color: rgb(56, 56, 56);
}